:root {
    --primaryColor: #ff274b ;
    --secondaryColor : #f7bcf7;
    --lightColor: #ffffff;
    --bGColor-1:#171a1c;
    --bGColor-2 : #22282a;
    --padding : 8% ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: var(--lightColor);
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bGColor-1) ;
    display: flex;
    flex-direction: column;
}

span {
    color: var(--primaryColor);
}
h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav {
    padding-top: 2.8rem;
    padding-right: var(--padding);
    padding-left: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;


}

nav ul li a {
    text-decoration: none;
    color: var(--lightColor);
    text-transform: capitalize;
    transition: 0.4s;

}
nav ul li a:hover{
    color: var(--primaryColor);
}

.btn {
    text-decoration: none;
    background-color: var(--primaryColor);
    color: var(--lightColor);
    font-weight: bold;
    border: 2px solid transparent;
    padding: 0.81rem 1.87rem; 
    border-radius: 30px;
    transition: 0.4s;

}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.contant {
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.text {
    position: relative;
    bottom: 70px;

}

h1 {
    font-size: 4.65rem ;
    margin: 1.7rem;

}
h3 {
    font-size: 1.5rem ;
    margin-bottom: 3.5rem;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--primaryColor);
}

.social {
    margin-top: 2.5rem;

}
.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;

}

.social img:hover{
    transform: scale(1.2);

}

.home .cont-img {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.home .cont-img img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
}
.home .cont-img:hover .shape{
    bottom: 40px;
}
.home .cont-img:hover .mypic {
    left: 45%;
}


.about {
    background-color: var(--bGColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .cont-img {
    width: 35%;
}

.about .cont-img  img {
    width: 90%;
}
.about .text {
    width: 35%;

}



h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}


p {
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

.serives {
    background-color: var(--bGColor-1);
    padding: 2rem var(--padding);
}

.text-con {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card {
    width: 300px;
    background-color: var(--bGColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;

}

.card  i {
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}

.skills {
    background-color: var(--bGColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .cont-img {
    width: 35%;
}

.skills .cont-img  img {
    width: 90%;
}

.skills .cont-skill {
    width: 60%;
}
.cont-skill {
    display: flex;
    flex-wrap: wrap ;
    margin-top: 4rem; 
}
.skill {
    width: 100px;
    height: 100px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skill img {
    width: 70%;

}


footer {
    padding: 2rem var(--padding);
    background-color: var(--bGColor-1);
}

footer .con-footr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .con-footr p{
    color: var(--lightColor);
    text-align: center;
    width: 500;
    margin-top: 1rem;
}
footer .con-footr .end {
    color: var(--primaryColor);
    margin-top: 1rem;

}

/* #menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;

}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;

}


#menu  is-active span:nth-child(1){
    transform: translate(0px , -2px) rotate(45deg);
}

#menu  is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

#menu  is-active span:nth-child(3){
    transform: translate(-3px , 3px) rotate(- 45deg);
}

#menu  is-active span{
    background-color: var(--primaryColor);
} */



/* #menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primaryColor);
} */



#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primaryColor);
}







@media screen and ( max-width: 575px) {


    :root{
        --padding:1.5rem;
    }
    html {
        font-size: 13px;
    }

    .home .cont-img {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bGColor-1);
        border-bottom: 1px solid var(--bGColor-2);
        z-index: 100;
    }
    nav a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bGColor-2);
    }

    nav ul is-active {
        display: block;
    }


    nav ul li{
        display: block;
        align-items: center;
        margin: 50px;
    }

    .text {
        bottom: 0;
    }

    .social{
        margin-top: 70px;
    }
    h3 {
        margin-top: 70px;

    }

    #menu {
        display: block;
    }

    .cont-img {
        display: none;

    }

    .about .text {
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .cont-img {
        display: none;
    }

    .skills .cont-skill {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .text .cont-skill{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .con-footr p {
        width: 100%;
    }

}

@media screen and ( min-width: 576px) and (max-width: 767px ) {


    :root{
        --padding:1.5rem;
    }
    html {
        font-size: 13px;
    }

    .home .cont-img {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bGColor-1);
        border-bottom: 1px solid var(--bGColor-2);
        z-index: 100;
    }

    .contant{
        padding-top: 82px;
    }


    nav a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bGColor-2);
    }

    nav ul is-active {
        display: block;
    }


    nav ul li{
        display: block;
        align-items: center;
        margin: 50px;
    }

    .text {
        bottom: 0;
    }

    .social{
        margin-top: 30px;
    }
    h3 {
        margin-top: 30px;

    }

    #menu {
        display: block;
    }

    .cont-img {
        display: none;

    }

    .about .text {
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .cont-img {
        display: none;
    }

    .skills .cont-skill {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .text .cont-skill{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .con-footr p {
        width: 100%;
    }

}
@media screen and ( max-width: 768px) and (max-width: 991px ) {


    :root{
        --padding:1.5rem;
    }
    html {
        font-size: 13px;
    }

    .home .cont-img {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bGColor-1);
        border-bottom: 1px solid var(--bGColor-2);
        z-index: 100;
    }
    nav a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bGColor-2);
    }

    nav ul is-active {
        display: block;
    }


    nav ul li{
        display: block;
        align-items: center;
        margin: 50px;
    }

    .text {
        bottom: 0;
    }

    .social{
        margin-top: 70px;
    }
    h3 {
        margin-top: 70px;

    }

    #menu {
        display: block;
    }

    .cont-img {
        display: none;

    }

    .about .text {
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .cont-img {
        display: none;
    }

    .skills .cont-skill {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .text .cont-skill{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .con-footr p {
        width: 100%;
    }

}
@media screen and ( max-width: 992px) and (max-width: 1279px ) {


    :root{
        --padding:1.5rem;
    }
    html {
        font-size: 13px;
    }
    .home .cont-img {
        width: 100%;
        height: auto;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bGColor-1);
        border-bottom: 1px solid var(--bGColor-2);
        z-index: 100;
    }
    nav a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--bGColor-2);
    }

    nav ul is-active {
        display: block;
    }


    nav ul li{
        display: block;
        align-items: center;
        margin: 50px;
    }

    .text {
        bottom: 0;
    }

    .social{
        margin-top: 70px;
    }
    h3 {
        margin-top: 70px;

    }

    #menu {
        display: block;
    }



    .about .text {
        width: 60%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }


    .skills .cont-skill {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .text .cont-skill{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .con-footr p {
        width: 100%;
    }

}

